<h3>Reset password</h3>
<div style="text-align: center; margin: 80px auto;" *ngIf="showSpinner">
    <div class="spinner-border text-dark"></div>
</div>
<div class="row" *ngIf="!authorized && !showSpinner">
    <div class="col-md-4" style="margin: auto;">
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
    </div>
</div>
<div class="col-md-4" style="margin: auto;" *ngIf="successMsgA && !showSpinner">
    <div class="alert alert-success">
        <strong>Success!</strong> {{successMsg}}
    </div>
</div>

<div class="row" *ngIf="authorized && !showSpinner && !successMsgA">
    <div class="col-md-4"></div>
    <form class="form-horizontal col-md-4 box" [formGroup]="pwdResetForm">
        <div class="alert alert-secondary" role="alert">    
            Resetting password for <b>{{msg}}</b><br>
        </div>
        
        <div class="form-group">
        <div class=""> 
            <input type="hidden" class="form-control" id="pwdToken" formControlName="pwdToken">
        </div>
        </div>
        
        <div class="form-group">
        <label class="control-label" for="pwd">Set password:</label>
        <div class=""> 
            <input type="password" class="form-control" id="pwd" placeholder="Enter new password" formControlName="password">
        </div>
        </div>

        <div class="form-group">
        <label class="control-label" for="cpwd">Confirm password:</label>
        <div class=""> 
            <input type="password" class="form-control" id="cpwd" placeholder="Confirm new password" formControlName="cpassword">
        </div>
        </div>


        <div class="alert alert-danger" *ngIf="errorMsgA && !showSpinner">
            <strong>Error!</strong> {{errorMsg}}
        </div>
    
    
        <div class="form-group"> 
        <div class="submitBtn">
            <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!pwdResetForm.valid">Set new password</button>
        </div>
        <br>
        </div>
    </form>
    <div class="col-md-4"></div>
</div>

    