.box
{
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px 1.5px #888888;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto;
    width:100%;
    background-color: #ffffff;
}
.heading
{
    font-family: marker;
    font-size: 23px;
    text-align: center;
}
.pin{
    color: #bcbcbc;
    cursor: pointer;
    float: right;
}
