<h3>Forgot Password</h3>
<div class="spinner-border text-primary spinner" *ngIf="showSpinner"></div>
<div class="row" *ngIf="!showSpinner">
  
  <div class="col-md-4"></div>
    
    <form class="form-horizontal col-md-4 box" [formGroup]="forgotPasswordForm">
    
      <div class="form-group">
        <div class="alert alert-success" *ngIf="successMsg">
            {{success_msg}}
        </div>
      
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
        </div>
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMsg">
          <strong>Error!</strong> {{msg}}
      </div>
      <div class="form-group"> 
        <div class="submitBtn">
          <button type="submit" class="btn btn-success" (click)="Submit()" [disabled]="!forgotPasswordForm.valid || disableSubmit">Send password reset link</button>
        </div>
      </div>
    </form>
    <div class="col-md-4"></div>
</div>