<h2 appHeadings>Joint Enterance Examination</h2>

<ul class="nav nav-tabs">
  <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/JEE','physics']" class="nav-link" routerLinkActive='active' data-toggle="">Physics</a></li>      
  <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/JEE','chemistry']" class="nav-link" routerLinkActive='active' data-toggle="">Chemistry</a></li>      
  <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/JEE','maths']" class="nav-link" routerLinkActive='active' data-toggle="">Maths</a></li>      
        
</ul>

<router-outlet></router-outlet>