<h2 appHeadings>BTech: CSE/IT</h2>

<ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/BTech','cse','year1']" class="nav-link" routerLinkActive='active' data-toggle="">I year</a></li>
        <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/BTech','cse','year2']" class="nav-link" routerLinkActive='active'  data-toggle="">II year</a></li>
        <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/BTech','cse','year3']" class="nav-link" routerLinkActive='active'  data-toggle="">III year</a></li>
        <li class="nav-item" routerLinkActive='active' ><a [routerLink]="['/BTech','cse','year4']" class="nav-link" routerLinkActive='active'  data-toggle="">IV year</a></li>
</ul>

<router-outlet></router-outlet>